.lf-patient-search {
  height: 55px;
}
.autocomplete-custom-template li {
  border-bottom: 1px solid #ccc;
  height: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  white-space: normal;
}
.autocomplete-custom-template li:last-child {
  border-bottom-width: 0;
}
.autocomplete-custom-template .item-title {
  display: block;
  line-height: 2;
}

.autocomplete-custom-template .item-metadata {
  display: block;
  line-height: 2;
  padding-left: 12px;
}

.autocomplete-custom-template .item-title .item-property {
  padding-left: 4px;
}

.autocomplete-custom-template .item-metadata .item-property {
  padding-left: 10px;
}

.lf-user-server {
  /*height: 2.5em;*/
  /*min-height: 2.5em;*/
}
.lf-user,
.lf-fhir-server {
  margin-right: 15px;
  margin-left: 15px;
}
.lf-fhir-server-name {
  margin: 5px 0 0 0;
  padding-bottom: 0;
}
.lf-fhir-server-url {
  font-size: 60%;
  font-style: italic;
  margin: 0 0 5px 0;
}

.lf-content {
  width: 100%;
  padding: 15px 0 15px 0;
  overflow: auto;
  background-color: #FAFAFA;
}
.lf-message {
  background-color: rgba(43, 55, 83, 1) !important;
  color: white;
  font-size: 24px;
  height: 100px;
  width: 70%;
  margin: 50px auto 50px auto;
  text-align: center;
  vertical-align: middle;
  padding: 25px;
}

.lf-social-icon {
  width: 64px;
  height: 64px;
}
.lf-social-icon-s {
  width: 48px;
  height: 48px;
  margin-left: 8px;
  margin-right: 8px;
}

.res-type,
.last-updated {
  margin-top: 4px;
  margin-bottom: 0;
  font-size: 80%;
}
.form-name {
  margin: 0;
}
.form-content {
  padding-left: 0;
  padding-right: 0;
}
.server-list {
  max-height: 50%;
}
.lost-data-warning {
  background-color: orange;
}

.status-label {
  flex: 33;
}
.status-bar {
  display: flex;
  padding-right: 10px;
}
.demo-app .lf-form-view {
  margin: 15px 15px 15px 0;
}
.lf-nav-button {
  /*font-weight: bold;*/
  margin-left: 5px;
  font-size: 14px;
}

.warning {
  border: 2px solid orange;
  padding: 0.5em;
  margin: 1em;
}

.panel-title {
  font-weight: bold;
}

.panel-title table {
  width: 100%;
}

.showDate {
  padding-left: 1rem;
  font-size: 75%;
  text-align: right;
}

.panel-title a {
  color: inherit;
}
.panel-title > a:before {
  font-family:'Glyphicons Halflings';
  content:"\e114";
  float: right;
  color: grey;
}
.panel-title > a.collapsed:before {
  content:"\e080";
}
.panel-title > a {
  cursor: pointer;
}

#upload, #search {
  width: 100%;
}
.lhc-form .lhc-button {
  border: 0 none;
  cursor: pointer;
  overflow: visible;
  padding: 0;
  position: relative;
  background-color: rgba(43, 55, 83, 1) !important;
}
.lhc-item-question.lhc-active-row {
  background-color: lightgray !important;
}
.lhc-item.lhc-tree-line:before {
  content: "";
  position: absolute;
  left: 12px;
  border-top: 2px solid rgba(43, 55, 83, 1) !important;
  top: 14px;
  width: 12px;
  height: 0;
}
.lhc-item.lhc-tree-line:after {
  content: "";
  position: absolute;
  left: 12px;
  border-left: 2px solid rgba(43, 55, 83, 1) !important;
  height: 100%;
  width: 0;
  top: 0;
}

element.style {
}
.lhc-form .lhc-help-button i, .lhc-form .lf-control-button i, .lhc-form .lhc-copyright-button i {
    font-size: medium;
}
.anticon {
    color: inherit;
    font-style: normal;
    line-height: 0;
    text-align: center;
    vertical-align: -0.125em;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.anticon, .anticon svg {
    display: inline-block;
}
.anticon, button, select {
    text-transform: none;
}
*, :after, :before {
    box-sizing: border-box;
}
*, :after, :before {
    box-sizing: border-box;
}
user agent stylesheet
i {
    font-style: italic;
}
.lhc-form .lhc-help-button, .lhc-form .lf-control-button, .lhc-form .lhc-copyright-button {
    padding: 0;
    margin-right: 2px;
    margin-left: 2px;
    vertical-align: middle;
    background-color: transparent;
    color: rgba(43, 55, 83, 1) !important;
    border: none;
}
.lhc-form .lhc-de-label span.lf-sn {
  border-radius: 4px;
  background-color: rgba(43, 55, 83, 1) !important;
  font-weight: 700;
  color: #fff;
  padding: 4px 8px;
  margin-right: 4px;
}
